<h1>Greetings</h1>

<%= render 'form' %>

<hr />

<table>
  <tbody>
    <% @greetings.each do |greeting| %>
      <tr>
        <td>
          <%= greeting.name %> <br />
          <%= greeting.created_at %>
        </td>
        <td>
          <%= greeting.comment %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
